* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

header {
  background-color: rgb(25, 102, 157);
  padding: 2rem 0;
  color: #efefef;
  text-align: center;
  font-size: 1.25rem;
}

.Menu-header a {
  position: absolute;
  top: 2.5rem; /* Ajusta según la altura deseada */
  right: 2.5rem; /* Ajusta para moverlo a la derecha */
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Menu-header a i {
  margin-right: 0.5rem; /* Espacio entre icono y texto */
  font-size: 1.25rem;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ocupará toda la altura visible */
  background: linear-gradient(to top, #04141f, #104062, #104062, #072235);
  background-size: cover;
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina relleno */
  box-sizing: border-box;
  flex-direction: column; /* Añadido para centrar verticalmente en dispositivos pequeños */
}

.btn-boton {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  margin-top: 10px;
}

.btn-boton .btn-refrescar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px; 
  height: 30px; 
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #9d9380;
  border-radius: 8px;
  transition: 0.3s ease, transform 0.2s ease;
  margin-right: 10px;
}

.btn-boton .btn-nuevo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; 
  height: 32px; 
  padding: 5px 10px;
  font-size: 18px;
  margin-right: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #9d9380;
  font-family: inherit; 
  text-transform: inherit;
  border-radius: 8px;
  transition: 0.3s ease, transform 0.2s ease;
}

.btn-nuevo:hover {
  background-color: rgb(236, 236, 236);
  color: #9d9380;
  transform: scale(1.05);
}

.btn-refrescar:hover {
  background-color: rgb(236, 236, 236);
  color: #9d9380;
  transform: scale(1.05);
}

.a_body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10px;
}

.titulo td {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1.0625rem;
  border-radius: 4px;
}

.t_body td {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.9375rem;
  padding: 0.5625rem 0.625rem;
  border-radius: 4px;
}

.t_body .btn-editar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  color: white;
  background-color: #18bb0f;
  border-radius: 8px;
  margin-right: 5px;
  text-decoration: none;
  transition: 0.3s ease, transform 0.2s ease;
}

.t_body .btn-eliminar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  background-color: #ca2c2c;
  border-radius: 8px;
  transition: 0.3s ease, transform 0.2s ease;
}

.t_body .btn-editar i,
.t_body .btn-eliminar i {
  margin: auto;
}

.btn-editar:hover {
  background-color: #13850d;
  color: #ffffff;
  transform: scale(1.05);
}

.btn-eliminar:hover {
  background-color: #a31818;
  color: #ffffff;
  transform: scale(1.05);
}

.table {
  border-radius: 12px;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-ok {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal-conte {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.close-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #18bb0f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.close-link:hover {
  background-color: #13850d;
  cursor: pointer;
}

/*
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #24262b;
  padding: 20px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #afa081;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: #afa081;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
